body {
   background-color: var(--page-bg);
   color: var(--text-color);
   transition: all .3s ease 0s;
}

.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.content {
   flex: 1 0 auto;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: $mw;
   margin: 0 auto;
   width: 100%;

   @media (max-width: $md1) {
      max-width: 970px;
   }

   @media (max-width: $md2) {
      max-width: 750px;
   }

   @media (max-width: $md3) {
      max-width: none;
      padding: 0 10px;
   }
}