@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600;700&family=Space+Grotesk&display=swap');

// Media
$minwidth: 320px;
$mw: 1050px;
$md1: $mw + 12px;
$md2: 992.98px;
$md3: 767.98px;
$md4: 479.98px;

:root {
   --font-main: 'Cabin', sans-serif;
   --font-accent: 'Space Grotesk', sans-serif;

   --page-bg: #F9FFFD;
   --text-color: #141414;
   --primary: #F9FFFD;
   --accent: #141414;
}

.dark {
   --page-bg: #141414;
   --text-color: #F9FFFD;
}